@model IEnumerable<VRS.Model.Vehicle>

@{
    ViewBag.Title = "Vehicles";
}

<br />
<h2>Vehicles</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel.Brand.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InUse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel.Brand.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mileage) Km
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InUse)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "VehicleModels", new { id = item.VehicleModelId }, null) |
            @if (!item.InUse)
            {
                @Html.ActionLink("Rent", "CreateForVehicleId", "Rents", new { vehicleId = item.Id, model = item.Description }, null )
            }
        </td>
    </tr>
}
</table>
