@model VRS.Model.VehicleModel

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Vehicle Model Details</h2>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GasType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GasType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", null, null, null, new { href = Request.UrlReferrer })
</p>
